/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; /* Adicionado para evitar rolagem horizontal */
    background-color: rgb(250, 7, 7);
     padding-top: 60px;
}
   .saudacao {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center; /* Corrigido de 'align-item' para 'align-items' */
    color: red;
    font-size: 1rem; 
    
    margin: 0 auto; /* Adicionado para centralizar */
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    width: 92%; /* Alterado para 90% */
}

.container {
    padding: 0,5rem;
    margin: 0 auto;
    max-width: 1250px;
}

    .containerPrincipal {
    padding: 0; /* Certifique-se de que não há padding em outros elementos */
    margin: 0 auto;
    max-width: 1260px;
    width: 100%; /* Adicione esta linha */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Grid de produtos */
#products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
    justify-content: center;
    align-items: center;
    width: 100%;   
    padding-top: 10px;
   /* overflow: hidden;*/
}

.product {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 0; /* Ajustado */
    width:100%;
    margin: 0;
    text-align: center;
    color: black;
    border-radius: 5px;
    box-shadow: 0 4px 8px white;
    /*max-height: 350px; /* Ajustado */
}

.imgprodoct {
   
    width: 100%;
    height:14rem;
    object-fit: cover;
   /* height: calc(100% - 2rem); /* Ajustado */
    /*margin-bottom: 1rem; /* Ajustado */  
}
.modal {
    display: none; /* Oculto por padrão */
    position: fixed; /* Fica em cima da página */
    z-index: 1000; /* Fica acima de outros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    background-color: black; /* Fundo escuro com opacidade */
}

/* Estilo da imagem do modal */
.modal-content {
    margin: auto;
    display: block;
    width: 100%; /* Largura da imagem */
    max-width: 500px; /* Largura máxima da imagem */
}

/* Estilo do botão de fechar */
.close {
    position: absolute;
    bottom: 10px;
    right: 25px;
    color: red;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer; 
}

#checkoutButton{
    background-color: white;
    border-radius: 5px;
    color: black;
}
#cart{
    color: white;
    width: 100%;
    
   
}
#cartItems{
    list-stayle:none;
}

#cartCount {
    position: fixed;
    bottom:44px;
    left: 50px;
    right: 0px;
    font-size: larger;
    color: white
    font-weight bolder;
   
}

/* Login Container */
#loginContainer {
    width: 100%;
    height:400px;
    max-width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: 2rem auto;
    text-align: center;
}
#install-button{
   background-color: #218838;
}
#profile {
    width: 100%;
    height: 350px; 
    color:black;
}

#nome, #numero {
    width: 210px;
    height: 30px;
    text-align: center;
    color: black;
}

#loginButton {
    width: 100%; /* Ocupa toda a largura */
    margin-top: 2rem;
}

.cabesalho {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1000;
            background-color: white;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            display: flex; /* Usar flexbox para alinhamento horizontal */
            justify-content: center; /* Centraliza o conteúdo */
        }

        .cabesalho ul {
            display: flex; /* Flexbox para os itens da lista */
            justify-content: space-between; /* Espaço entre os itens */
            width: 90%; /* Ocupa 90% da largura */
            padding: 0; /* Remove padding padrão */
            margin: 0; /* Remove margin padrão */
            list-style: none; /* Remove marcadores da lista */
        }

        .cabesalho li {
            margin: 0 10px; /* Espaço entre os itens (ajuste conforme necessário) */
        }

        .cabesalho a {
            text-decoration: none; /* Remove o sublinhado dos links */
            color: inherit; /* Mantém a cor do texto do link igual à do pai */
        }
.imglog {
    width: 90%;
    height: 50px;
    object-fit: cover;
    border-radius: 13px;
    margign: 0 auto;
     background-color: rgb(250, 7, 7);
    
}


.whatssap{
   
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 2px; 
   color:black;
}
.whatssap:hover{
    border-radius: 1px;
     background-color:white;
}
.whatssap i{
  background-color: rgb(77, 238, 77);
  font-size: 34px;
  border-radius: 50px;
  border: #218838;
  box-shadow: #218838;
}


 /* Navegação Fixa */
        nav {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: red;
            z-index: 1000;
            padding: 10px;
        }

        /* Navegação Fixa */
        nav {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: red;
            z-index: 1000;
            padding: 10px;
        }

        nav ul {
            list-style: none;
            display: flex;
            justify-content: space-between; /* Distribui os itens para ocupar o espaço total */
            margin: 0;
            padding: 0; /* Remove padding padrão */
        }

        nav ul li {
            text-align: center;
            flex: 1; /* Faz cada item ocupar espaço igual */
        }

        nav ul li a {
            text-decoration: none;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

        i {
            font-size: 24px;
            color: white;
        } 

button {
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    background-color: red;
}

button:hover {
    background-color: #218838;
}

/* Estilos Responsivos */
@media (max-width: 900px) {
    .containerPrincipal {
        padding: 0;
        font-size: 1rem;
    }
    #products {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        gap: 8px;
    }
    .saudacao{
         font-size:14px;
    }
}

@media (max-width: 768px) {
    .containerPrincipal {
        padding: 0;
        font-size: 1rem;
    }
    #products {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        gap: 8px;
    }
     .saudacao{
         font-size:14px;
    }
     .containerPrincipal {
        width: 100%; /* Garante que o contêiner ocupe 100% da largura da tela */
        padding: 0; /* Verifique se não há padding */
        margin: 0 auto; /* Centraliza o contêiner */
    }
}

@media (max-width: 481px) {
    .containerPrincipal {
        padding: 1px;
        font-size: 1rem;
    }
    #products {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        height:12rem;
        gap:8px
    }
}
@media (max-width: 485px) {
    .containerPrincipal {
        padding: 1px;
        font-size: 1rem;
    }
    #products {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        /. height:12rem; ./
        gap:8px
    }
}
