* {
    box-sizing: border-box; /* Inclui padding e borda no tamanho total */
}
html,body{
    width:100%;
    heigth:100%;
    marging:0;
    padding:0;
    overflow:hiden;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
     box-sizing: border-box;
     padding:2rem; 
    background-color: rgb(250, 7, 7);
}

/* Container de Login */
#loginContainer {
    width: 100%;
    max-width: 350px; /* Largura máxima */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    text-align: center;
    margin: 0 auto; /* Centraliza */
    height: 410px; 
    font-family: 'Times New Roman', Times, serif; 
}

/* Dados de Perfil */
#storeContainer {
    margin-left: 2rem;
    color: white;   
}

#profile {
    width: 100%;
    height: 350px;    
}

#nome, #numero {
    width: 210px;
    height: 30px;
    text-align: center;
}

#loginButton {
    width: 100%; /* Ocupa toda a largura */
    margin-top: 2rem;
}

.logo {
    position: fixed;
    top: 0;
    right: 0; /* Alinha à direita */
    width:100%
    background-color: red;
    z-index: 1000;
    padding: 10px; /* Espaçamento interno */
    marging:button 2rem;
    border-raduis: 2px solid white;
}

.logo ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: o auto;
}

.logo ul li {
    text-decoration: none;
    color: white;
    display: flex;
    text-align: center;
    flex: 1;
    align-items: center; 
    width: 100%;
}

.saudacao {
    font-size: 90%;
    border-left: 2px solid white;
    box-shadow: white;
    padding-top:2rem;
}

.whatssap {
  marging-left:4rem
    color: white;
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

.imglog {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 30px;
}

/* Corpo do site */
.containerPrincipal {
    display:flex;
    justify-content:center;
     width: 100%;
    max-width: 1390px; /* Se necessário, mantenha um max-width */
    margin: 0 auto; /* Centraliza */
}

#orderCode {
    color: #218838;
    font-size: 14px;
    background-color: black;
}

/* Navegação fixa */
nav {
    position: fixed;
    bottom: 0;
    left: 0;
  /*  right: 0; /* Alinha à direita */
    width: 100%; /* Largura máxima */
    background-color: red;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 2rem;
}

nav ul li {
    text-align: center;
    flex: 1;
}

nav ul li a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 100%;
}

#cart {
    width: 100%; /* Ocupar 100% da largura */
    max-width: 1200px; /* Se necessário, mantenha um max-width */
    margin: 0 auto; /* Centraliza */
    height: 560px; 
}

#cartCount {
    position: fixed;
    bottom: 43px;
    left: 53px;
    right: 0px;
    font-size: larger;
}

#cartItems {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    list-style: none;   
}     

#checkoutButton {
    color: black;
    background-color: white;
    border: 2px black;
    margin-left: 3rem;
}

#checkoutButton:hover {
    background-color: #218838;
}

#orderCode {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bolder;
    background-color: red;   
}

i {
    font-size: 34px;
}

button {
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    background-color: red;
}

button:hover {
    background-color: #218838;
}

/* Container de Produtos */
#products {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Responsivo */
    gap: 5px;
    justify-content: center;
   aling-items:center;
    width: 100%;
    marging: 0 auto;
    
}

.quantity-controls {
    width: 136px;
    border: 2px solid white;
    display: flex;
    margin-bottom: 4px;
    font-size: 14px;
    padding: 0px;  
}

.remove {
    width: 10px;   
}

.decrase {
    width: 10px;
    font-size: 8px;
}

.incrase {
    width: 10px;
    font-size: small;
}

.product {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2px;
    text-align: center;
    color: black;
    border-radius: 2px;
    width: 100%;
}

.imgprodoct {
    height: 100%; /* Mantém a proporção */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra mais específica */
    border-radius: 2px;
    width: 100%;
}

.contatos {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.911);
    color: white;
    display: flex;
    justify-content: space-between;
    font-family: 'Times New Roman', Times, serif;
}

.gerenciador {
    margin-left: 2rem;
}

.coloborador {
    width: 200px;
    height: 200px;
    display: flex;
    padding: 8px;
    font-size: 16px;
    margin-right: 10rem;
    margin-bottom: 4rem;
}

/* Estilo do modal */
.modal {
    display: none; /* Oculto por padrão */
    position: fixed; /* Fica em cima da página */
    z-index: 1000; /* Fica acima de outros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    background-color: black; /* Fundo escuro com opacidade */
}

/* Estilo da imagem do modal */
.modal-content {
    margin: auto;
    display: block;
    width: 100%; /* Largura da imagem */
    max-width: 500px; /* Largura máxima da imagem */
}

/* Estilo do botão de fechar */
.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: red;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
  
}
.vendedr {
    width: 100%;
    max-width: 350px; /* Largura máxima */
    margin-top: 4rem;
    margin-left: 4rem;
    display: block;
    align-content: center;

}
#sellerPanelLink{
    margin-left: 10rem;
    color: white;
}

/* Estilos responsivos */
@media (max-width: 900px) {
    .containerPrincipal {
        max-width: 800px;
    }
    #products {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas em telas menores */
        
    }

   nav {
        position:fixed;
       buttom:0;
       rigth:0;
       width:100%
       z-index:1000;
    }
    body {
        font-size: 16px; /* Corrigido */
    }
}

@media (max-width: 768px) {
    .containerPrincipal {
        max-width: 600px;
    }
    #products {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas em telas menores */
    }

    nav {
        position:fixed;
          position:fixed;
       buttom:0;
       rigth:0;
       width:100%
       z-index:1000;
    }
   .logo {
       position: fixed;
    top: 0;
    right: 0;
    width: 100%;
        max-width: 500px;
    background-color: red;
    z-index: 1000;
    }
}

@media (max-width: 480px) {
    .containerPrincipal {
        max-width: 400px;
    }
    #products {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas em telas menores */
    }

    nav {
        position:fixed;
          position:fixed;
       buttom:0;
       rigth:0;
       width:100%
       z-index:1000;
    }

     .logo {
       position: fixed;
    top: 0;
    right: 0;
    width: 100%;
        max-width:380px;
    background-color: red;
    z-index: 1000;
    }

}

